body {
    font-family: "sans-serif";
    margin: 0;
    padding: 0;
    color: white;
}
.navbar_main{
    background-color: #db3a3a;

}
nav {
    border-bottom: 5px white;
}
.navbar {
    min-height: 7rem;
    background-color: #db3a3a;
    padding-bottom: 5rem;
    font-size: 1.5rem;
}
.navbar .navbar-brand {
    font-size: 1.7rem;
}

.jumbotron-main{
    background-color: #db3a3a;
}

.jumbotron {
    background-color: #db3a3a;
    padding-bottom: 5rem;
}    

.search_bar {
    padding: 1.4rem;
    background: #db3a3a;

}

.table{
    background-color: #db3a3a;
}

.RulesMain_main{
    margin-top: 0px;
    padding-top: 2rem;
    padding-bottom: 2.5rem;

}

.RulesMain_main .text{
    padding-bottom: 1.4rem;
}

.bg-redstone {
    background-color: #db3a3a;
}

.bg-bluestone {
    background-color: #3a8bdb;
}